In [12]:
import pandas as pd
from os.path import join

In [3]:
 prostate_samples = ['MO_1008', 'MO_1012', 'MO_1013', 'MO_1014', 'MO_1015', 'MO_1020', 'MO_1040', 'MO_1066', 'MO_1074', 'MO_1084',
     'MO_1093', 'MO_1094', 'MO_1095', 'MO_1096', 'MO_1112', 'MO_1114', 'MO_1118', 'MO_1124', 'MO_1128', 'MO_1130',
     'MO_1132', 'MO_1139', 'MO_1161', 'MO_1162', 'MO_1176', 'MO_1179', 'MO_1184', 'MO_1192', 'MO_1200', 'MO_1201',
     'MO_1202', 'MO_1214', 'MO_1215', 'MO_1219', 'MO_1221', 'MO_1232', 'MO_1240', 'MO_1241', 'MO_1244', 'MO_1249',
     'MO_1260', 'MO_1262', 'MO_1263', 'MO_1277', 'MO_1307', 'MO_1316', 'MO_1336', 'MO_1337', 'MO_1339', 'MO_1410',
     'MO_1420', 'MO_1421', 'MO_1437', 'MO_1443', 'MO_1446', 'MO_1447', 'MO_1460', 'MO_1469', 'MO_1472', 'MO_1473',
     'MO_1482', 'MO_1490', 'MO_1492', 'MO_1496', 'MO_1499', 'MO_1510', 'MO_1511', 'MO_1514', 'MO_1517', 'MO_1541',
     'MO_1543', 'MO_1553', 'MO_1556', 'TP_2001', 'TP_2009', 'TP_2010', 'TP_2020', 'TP_2032', 'TP_2034', 'TP_2037',
     'TP_2043', 'TP_2054', 'TP_2060', 'TP_2061', 'TP_2064', 'TP_2069', 'TP_2077', 'TP_2078', 'TP_2079', 'TP_2080',
     'TP_2081', 'TP_2090', 'TP_2093', 'TP_2096', 'TP_2156']

In [4]:
len(prostate_samples)

95

In [5]:
common_samples = ['MO_1008',
                                         'MO_1012',
                                         'MO_1013',
                                         'MO_1014',
                                         'MO_1015',
                                         'MO_1020',
                                         'MO_1040',
                                         'MO_1074',
                                         'MO_1084',
                                         'MO_1094',
                                         'MO_1095',
                                         'MO_1096',
                                         'MO_1114',
                                         'MO_1118',
                                         'MO_1124',
                                         'MO_1128',
                                         'MO_1130',
                                         'MO_1132',
                                         'MO_1139',
                                         'MO_1161',
                                         'MO_1162',
                                         'MO_1176',
                                         'MO_1179',
                                         'MO_1184',
                                         'MO_1192',
                                         'MO_1202',
                                         'MO_1215',
                                         'MO_1219',
                                         'MO_1232',
                                         'MO_1241',
                                         'MO_1244',
                                         'MO_1249',
                                         'MO_1262',
                                         'MO_1277',
                                         'MO_1316',
                                         'MO_1337',
                                         'MO_1339',
                                         'MO_1410',
                                         'MO_1421',
                                         'MO_1447',
                                         'MO_1460',
                                         'MO_1473',
                                         'TP_2001',
                                         'TP_2010',
                                         'TP_2020',
                                         'TP_2032',
                                         'TP_2034',
                                         'TP_2054',
                                         'TP_2060',
                                         'TP_2061',
                                         'TP_2064',
                                         'TP_2069',
                                         'TP_2077',
                                         'TP_2078',
                                         'TP_2079']

In [6]:
len(common_samples)

55

In [7]:
met500_samples = set(prostate_samples).difference(common_samples)

In [10]:
len(met500_samples)

40

In [13]:
validation_data_dir ='/Users/haithamelmarakeby/PycharmProjects/pnet_prostate_paper/data/prostate_paper/external_validation/'

In [14]:
valid_cnv = pd.read_csv(join(validation_data_dir,'Met500/Met500_cnv.txt'), index_col=0, sep='\t')

In [15]:
valid_cnv.shape

(19045, 500)

In [16]:
valid_cnv.head()

,ES_5001,ES_5004,ES_5005,MO_1001,MO_1002,MO_1005,MO_1007,MO_1008,MO_1011,MO_1012,...,TP_2109,TP_2118,TP_2119,TP_2120,TP_2122,TP_2123,TP_2130,TP_2131,TP_2141,TP_2156
gene,,,,,,,,,,,,,,,,,,,,,
UBE2Q1,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,0.0,2.0,1.0,0.0,1.0
RNF14,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
UBE2Q2,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,-1.0,1.0,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0
RNF10,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,-1.0,1.0,...,-1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0
RNF11,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0